.year {font-family: serif; font-size: 40px; kerning: 0; stroke:none; fill:#000000;}
.yearMajor {font-family: serif; font-size: 50px; kerning: 0; stroke:none; fill:#000000;}
.yearMinor {font-family: serif; font-size: 25px; kerning: 0; stroke:none; fill:#000000;}
.timeline {stroke-width: 1.0; stroke: black}

.achaemenid {fill:purple;fill-opacity:0.5}
.achaemenidClient {fill:purple;fill-opacity:0.3}
.akkad {fill:green;fill-opacity:0.5}
.angloSaxon {fill:red;fill-opacity:0.4}
.armenia {fill:red;fill-opacity:0.3}
.assyria {fill:red;fill-opacity:0.4}
.neoassyria {fill:#9d0711;fill-opacity:0.6}
.babylon {fill:green;fill-opacity:0.4}
.babylonWeak {fill:green;fill-opacity:0.2}
.celt {fill:blue;fill-opacity:0.2}
.neobabylon {fill:green;fill-opacity:0.5}
.egyptEarlyDynastic {fill:gold;fill-opacity:0.4}
.egyptOldKingdom {fill:gold;fill-opacity:0.7}
.egyptMiddleKingdom {fill:gold;fill-opacity:0.8}
.egyptNewKingdom {fill:gold;fill-opacity:0.9}
.egyptFirstIntermediate {fill:gold;fill-opacity:0.2}
.egyptSecondIntermediate {fill:gold;fill-opacity:0.2}
.egyptThirdIntermediate {fill:gold;fill-opacity:0.2}
.egyptLatePeriod {fill:gold;fill-opacity:0.8}
.egyptThebes {fill:gold;fill-opacity:0.4}
.english {fill:red;fill-opacity:0.7}
.englishCommonwealth {fill:blue;fill-opacity:0.7}
.englishProtecturate {fill:blue;fill-opacity:1.0}
.greek {fill:blue;fill-opacity:0.5}
.hittiteWeak {fill:brown;fill-opacity:0.2}
.kish {fill:green;fill-opacity:0.4}
.lagash {fill:blue;fill-opacity:0.4}
.macedon {fill:blue;fill-opacity:0.7}
.mari {fill:green;fill-opacity:0.3}
.mitanni {fill:green;fill-opacity:0.3}
.mycenae {fill:blue;fill-opacity:0.2}
.norman {fill:blue;fill-opacity:0.4}
.parthianEmpire {fill:green;fill-opacity:0.6}
.ptolemaicKingdom {fill:blue;fill-opacity:0.3}
.romanKingdom {fill:yellow;fill-opacity:0.2}
.romanRepublic {fill:blue;fill-opacity:0.2}
.romanPrincipate {fill:purple;fill-opacity:0.3}
.romanCrisis {fill:grey;fill-opacity:0.6}
.romanDominate {fill:purple;fill-opacity:0.3}
.romanBreakaway {fill:purple;fill-opacity:0.2}
.seleucid {fill:blue;fill-opacity:0.4}
.byzantium {fill:purple;fill-opacity:0.2}
.phoenicia {fill:orange;fill-opacity:0.6}
.pontus {fill:purple;fill-opacity:0.6}
.sassanid {fill:purple;fill-opacity:0.3}
.sumer {fill:blue;fill-opacity:0.3}
.sumerWeak {fill:blue;fill-opacity:0.2}
.neosumer {fill:blue;fill-opacity:0.5}
.ur3 {fill:blue;fill-opacity:0.3}
.uruk {fill:blue;fill-opacity:0.4}
.colonialAmerica {fill:red;fill-opacity:0.1}
.americanRepublicWeak {fill:lightblue;fill-opacity:0.3}
.americanRepublicMid {fill:lightblue;fill-opacity:0.5}
.americanRepublicStrong {fill:lightblue;fill-opacity:0.7}
.americanRepublic {fill:blue;fill-opacity:0.4}

.backgroundBattle {fill:red; fill-opacity:1.0}
.backgroundCivilWar {fill:#C00000; fill-opacity:0.5}
.backgroundCivilWarRegional {fill:#C00000; fill-opacity:0.3}
.backgroundConstitutionalConvention {fill:blue; fill-opacity:0.6}
.backgroundDarkAge {fill:black; fill-opacity:0.5}
.backgroundInvasion {fill:red; fill-opacity:0.6}
.backgroundOccupation {fill:#4C0000; fill-opacity:0.3}
.backgroundDomesticWarVictory {fill:blue; fill-opacity:0.5}
.backgroundForeignWar {fill:red; fill-opacity:0.4}
.backgroundForeignWarDefeat {fill:red; fill-opacity:0.6}
.backgroundForeignWarMinor {fill:brown; fill-opacity:0.2}
.backgroundForeignWarMinorDefeat {fill:red; fill-opacity:0.2}
.backgroundForeignWarMinorVictory {fill:blue; fill-opacity:0.2}
.backgroundForeignWarMajor {fill:brown; fill-opacity:0.5}
.backgroundForeignWarMajorDefeat {fill:red; fill-opacity:0.5}
.backgroundForeignWarMajorVictory {fill:blue; fill-opacity:0.4}
.backgroundForeignWarVictory {fill:blue; fill-opacity:0.4}
.backgroundRebellion {fill:red; fill-opacity:0.4}
.backgroundMinorRebellion {fill:red; fill-opacity:0.4}
.backgroundMajorRebellion {fill:red; fill-opacity:0.7}
.backgroundNationalCalamity {stroke:#C00000; stroke-width:1.5; fill:#C00000; fill-opacity:1.0}
.backgroundPlague {fill:black; fill-opacity:0.5}
.backgroundReignOfTerror {fill:red; fill-opacity:0.8}
.backgroundRevolution {fill:#C00000; fill-opacity:0.7}
.backgroundUnionVictory {stroke:#C00000; stroke-width:1.5; fill:blue; fill-opacity:0.8}
.backgroundConfederateVictory {stroke:#C00000; stroke-width:1.5; fill:red; fill-opacity:0.8}
.backgroundWar {fill:red; fill-opacity:0.5}
.neolithic {fill:grey;fill-opacity:0.3}
.bronzeAge {fill:#CD7F32;fill-opacity:0.3}
.ironAge {fill:#CBCDCD;fill-opacity:0.5}
.conflict {fill:red; stroke:red; stroke-width:1; fill-opacity:1.0}
.roman {fill:#718d99; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.romanNewMan {fill:#718d99; stroke:blue; stroke-width:1.0; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.achaemenid {fill:purple; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.amorite {fill:green; stroke:black; stroke-width:0.1; fill-opacity:0.2; box-shadow: -5px -5px 5px #888;}
.assyrian {fill:red; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.babylonian {fill:green; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.briton {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.2; box-shadow: -5px -5px 5px #888;}
.gutian {fill:brown; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.egyptian {fill:gold; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.elamite {fill:yellow; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.hittite {fill:brown; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.hurrian {fill:yellow; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.hyksos {fill:orange; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.isin {fill:green; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.israel {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.medes {fill:purple; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.nubian {fill:orange; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.lagashian {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.larsa {fill:green; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.lydian {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.phoenician {fill:orange; stroke:black; stroke-width:0.4; fill-opacity:0.6; box-shadow: -5px -5px 5px #888;}
.sumerian {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.ur {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.deified {fill:gold; stroke:gold; stroke-width:0.1; fill-opacity:0.8; box-shadow: -5px -5px 5px #888;}
.sanctified {fill:gold; stroke:gold; stroke-width:0.1; fill-opacity:0.8; box-shadow: -5px -5px 5px #888;}
.barbarian {fill:purple; stroke:black; stroke-width:1; fill-opacity:0.8}
.american {fill:#f8df6c; stroke:black; stroke-width:0.1; fill-opacity:0.2; box-shadow: -5px -5px 5px #888;}
.colonist {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.1; box-shadow: -5px -5px 5px #888;}
.patriot {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.1; box-shadow: -5px -5px 5px #888;}
.federalist {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.democrat {fill:red; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.whig {fill:white; stroke:black; stroke-width:0.1; fill-opacity:0.6; box-shadow: -5px -5px 5px #888;}
.republican {fill:blue; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.human {fill:#f8df6c; stroke:black; stroke-width:0.1; fill-opacity:0.2; box-shadow: -5px -5px 5px #888;}

.fate {fill-opacity:0.0}

.channel {font-family: serif; font-size: 400px; fill:#000000; fill-opacity:0.3 }
.dynasty {font-family: serif; font-size: 40px; fill:#000000; fill-opacity:0.6}

.footprint {fill:white; fill-opacity:1.0; font-family: serif; stroke:none;}
.transformational {font-family: serif; font-size: 50px; kerning: 2; stroke:none; fill:#000000;}
.major {font-family: serif; font-size: 35px; kerning: 1; stroke:none; fill:#000000;}
.semimajor {font-family: serif; font-size: 22px; kerning: 1; stroke:none; fill:#000000;}
.minor {font-family: serif; font-size: 13px; kerning: 1; stroke:none; fill:#000000;}
.petty {font-family: serif; font-size: 6px; kerning: 1; stroke:none; fill:#000000;}

.aedile 			{fill:blue;		fill-opacity:0.5}
.augusta 			{fill:#BF3EFF;	fill-opacity:1.0}
.augustus 			{fill:#9A32CD;	fill-opacity:1.0}
.basileus 			{fill:purple;	fill-opacity:0.8}
.battle 			{fill:red;		fill-opacity:0.7}
.caesar 			{fill:#9A32CD;	fill-opacity:0.6}
.censor 			{fill:blue;		fill-opacity:0.5}
.chancellor			{fill:purple;	fill-opacity:0.5}
.commission 		{fill:brown;	fill-opacity:0.4}
.consul 			{fill:blue;		fill-opacity:0.6}
.curuleAedile 		{fill:blue;		fill-opacity:0.3}
.decemvir 			{fill:blue;		fill-opacity:0.8}
.defendant 			{fill:black;	fill-opacity:0.3}
.dictator 			{fill:blue;		fill-opacity:1.0}
.duke 				{fill:purple;	fill-opacity:0.4}
.exile 				{fill:black;	fill-opacity:0.5}
.pow 				{fill:black;	fill-opacity:0.75}
.general 			{fill:#C00000;	fill-opacity:0.6}
.governor 			{fill:blue;		fill-opacity:0.5}
.highPriest			{fill:purple;	fill-opacity:0.5}
.highPriestess 		{fill:purple;	fill-opacity:0.5}
.kingOfKings		{fill:purple;	fill-opacity:1.0}
.king 				{fill:purple;	fill-opacity:0.7}
.queen 				{fill:purple;	fill-opacity:0.6}
.lordProtector 		{fill:blue;		fill-opacity:1.0}
.magisterMilitum 	{fill:#C00000;	fill-opacity:1.0}
.masterOfHorse 		{fill:blue;		fill-opacity:0.8}
.memberParliament   {fill:blue;		fill-opacity:0.2}
.pharaoh			{fill:purple;	fill-opacity:0.6}
.pontifexMaximus 	{fill:blue;		fill-opacity:0.4}
.praetor 			{fill:blue;		fill-opacity:0.4}
.praetorianPrefect 	{fill:#C00000;	fill-opacity:1.0}
.prince		        {fill:purple;	fill-opacity:0.7}
.princeps 			{fill:blue;		fill-opacity:1.0}
.quaestor 			{fill:blue;		fill-opacity:0.4}
.rebel 			    {fill:black;	fill-opacity:0.5}
.regent 			{fill:blue;		fill-opacity:0.8}
.satrap 			{fill:blue;		fill-opacity:0.6}
.tribune 			{fill:blue;		fill-opacity:0.5}
.triumvir 			{fill:#551A8B;	fill-opacity:1.0}
.tyrant 			{fill:purple;	fill-opacity:0.7}
.usurper 			{fill:black;	fill-opacity:0.5}
.vizier 			{fill:purple;	fill-opacity:0.5}
.triumph 			{fill:red;		fill-opacity:1.0}

.president 			{fill:blue;		fill-opacity:0.8}
.vicePresident 		{fill:blue;		fill-opacity:0.6}
.speakerOfHouse     {fill:blue;		fill-opacity:0.6}
.secretaryOfState   {fill:blue;		fill-opacity:0.6}
.secretaryOfWar     {fill:#C00000;	fill-opacity:0.8}
.secretaryOfTreasury     {fill:green;	fill-opacity:0.8}
.secretaryOfCommerce     {fill:green;	fill-opacity:0.4}
.senator 			{fill:blue;		fill-opacity:0.3}
.legislator     	{fill:blue;		fill-opacity:0.2}
.militaryGovernor 	{fill:#C00000;	fill-opacity:0.5}
.diplomat           {fill:blue;		fill-opacity:0.4}
.statesman          {fill:blue;		fill-opacity:0.4}
.chiefJustice   	{fill:purple;	fill-opacity:0.8}
.justice   	 		{fill:purple;	fill-opacity:0.6}
.judge   	 		{fill:purple;	fill-opacity:0.4}

.parthian	        {fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.sabines 			{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.samnites 			{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.etruscans 			{fill:grey;		stroke:black; stroke-width:1; fill-opacity:0.7}
.carthage 			{fill:orange;	stroke:black; stroke-width:1; fill-opacity:0.7}
.gauls 				{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.islamicCaliphate	{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.kingdomOfFrance	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.macedonianEmpire 	{fill:yellow;	stroke:black; stroke-width:1; fill-opacity:0.7}
.hellenisticGreece 	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.6}
.alamanni 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.vandals 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.franks 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.visigoths 			{fill:black;	stroke:black; stroke-width:1; fill-opacity:0.7}
.ostrogoths 		{fill:black;	stroke:black; stroke-width:1; fill-opacity:0.7}
.huns 				{fill:yellow;	stroke:black; stroke-width:1; fill-opacity:0.7}

