.year {font-family: serif; font-size: 40px; kerning: 0; stroke:none; fill:#000000;}
.timeline {stroke-width: 1.0; stroke: black}

.ur3 {fill:green;fill-opacity:0.2}
.achaemenid {fill:purple;fill-opacity:0.3}
.akkad {fill:green;fill-opacity:0.2}
.assyria {fill:red;fill-opacity:0.4}
.babylon {fill:green;fill-opacity:0.2}
.egyptOldKingdom {fill:yellow;fill-opacity:0.4}
.egyptMiddleKingdom {fill:yellow;fill-opacity:0.2}
.egyptNewKingdom {fill:yellow;fill-opacity:0.5}
.romanRepublic {fill:blue;fill-opacity:0.1}
.romanPrincipate {fill:purple;fill-opacity:0.2}
.romanCrisis {fill:grey;fill-opacity:0.3}
.romanDominate {fill:purple;fill-opacity:0.2}
.byzantium {fill:purple;fill-opacity:0.2}

.backgroundCivilWar {fill:#C00000; fill-opacity:0.5}
.backgroundConstitutionalConvention {fill:blue; fill-opacity:0.6}
.backgroundDarkAge {fill:black; fill-opacity:0.75}
.backgroundInvasion {fill:#4C0000; fill-opacity:0.6}
.backgroundForeignWar {fill:brown; fill-opacity:0.3}
.backgroundForeignWarVictory {fill:blue; fill-opacity:0.3}
.backgroundForeignWarDefeat {fill:red; fill-opacity:0.4}
.backgroundRebellion {fill:red; fill-opacity:0.6}
.backgroundNationalCalamity {stroke:#C00000; stroke-width:1.5; fill:#C00000; fill-opacity:1.0}
.backgroundPlague {fill:black; fill-opacity:0.5}
.conflict {fill:red; stroke:red; stroke-width:1; fill-opacity:1.0}
.roman {fill:#f8df6c; stroke:black; stroke-width:0.1; fill-opacity:0.2; box-shadow: -5px -5px 5px #888;}
.achaemenid {fill:purple; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.assyrian {fill:red; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.babylonian {fill:green; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.gutian {fill:yellow; stroke:black; stroke-width:0.1; fill-opacity:0.5; box-shadow: -5px -5px 5px #888;}
.egyptian {fill:yellow; stroke:black; stroke-width:0.1; fill-opacity:0.4; box-shadow: -5px -5px 5px #888;}
.elamite {fill:yellow; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.hittite {fill:brown; stroke:black; stroke-width:0.1; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.newMan {fill:#f8df6c; stroke:blue; stroke-width:1.0; fill-opacity:0.3; box-shadow: -5px -5px 5px #888;}
.deified {fill:gold; stroke:gold; stroke-width:0.1; fill-opacity:0.8; box-shadow: -5px -5px 5px #888;}
.sanctified {fill:gold; stroke:gold; stroke-width:0.1; fill-opacity:0.8; box-shadow: -5px -5px 5px #888;}
.barbarian {fill:purple; stroke:black; stroke-width:1; fill-opacity:0.8}
.fate {fill-opacity:0.0}

.channel {font-family: serif; font-size: 250px; fill:#000000; fill-opacity:0.4 }
.dynasty {font-family: serif; font-size: 48px; fill:#000000; fill-opacity:1.0}

.footprint {fill-opacity:0.0; font-family: serif;}
.transformational {font-family: serif; font-size: 40px; kerning: 2; stroke:none; fill:#000000;}
.major {font-family: serif; font-size: 25px; kerning: 1; stroke:none; fill:#000000;}
.semimajor {font-family: serif; font-size: 15px; kerning: 1; stroke:none; fill:#000000;}
.minor {font-family: serif; font-size: 10px; kerning: 1; stroke:none; fill:#000000;}

.aedile 			{fill:blue;		fill-opacity:0.5}
.augusta 			{fill:#BF3EFF;	fill-opacity:1.0}
.augustus 			{fill:#9A32CD;	fill-opacity:1.0}
.battle 			{fill:red;		fill-opacity:0.7}
.caesar 			{fill:#9A32CD;	fill-opacity:0.6}
.censor 			{fill:blue;		fill-opacity:0.5}
.consul 			{fill:blue;		fill-opacity:0.6}
.curuleAedile 		{fill:blue;		fill-opacity:0.3}
.decemvir 			{fill:blue;		fill-opacity:0.8}
.dictator 			{fill:blue;		fill-opacity:1.0}
.exile 				{fill:black;	fill-opacity:0.5}
.pow 				{fill:black;	fill-opacity:0.75}
.general 			{fill:#C00000;	fill-opacity:0.6}
.governor 			{fill:blue;		fill-opacity:0.5}
.kingOfKings		{fill:purple;	fill-opacity:1.0}
.king 				{fill:purple;	fill-opacity:0.7}
.queen 				{fill:purple;	fill-opacity:0.6}
.magisterMilitum 	{fill:#C00000;	fill-opacity:1.0}
.masterOfHorse 		{fill:blue;		fill-opacity:0.8}
.pharaoh			{fill:purple;	fill-opacity:0.9}
.pontifexMaximus 	{fill:blue;		fill-opacity:0.4}
.praetor 			{fill:blue;		fill-opacity:0.4}
.praetorianPrefect 	{fill:#C00000;	fill-opacity:1.0}
.princeps 			{fill:blue;		fill-opacity:1.0}
.quaestor 			{fill:blue;		fill-opacity:0.4}
.regent 			{fill:blue;		fill-opacity:0.8}
.tribune 			{fill:blue;		fill-opacity:0.5}
.triumvir 			{fill:#551A8B;	fill-opacity:1.0}
.usurper 			{fill:black;	fill-opacity:0.5}
.vizier 			{fill:purple;	fill-opacity:0.5}
.triumph 			{fill:red;		fill-opacity:1.0}


.sabines 			{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.samnites 			{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.etruscans 			{fill:grey;		stroke:black; stroke-width:1; fill-opacity:0.7}
.carthage 			{fill:orange;	stroke:black; stroke-width:1; fill-opacity:0.7}
.gauls 				{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.islamicCaliphate	{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.kingdomOfFrance	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.macedonianEmpire 	{fill:yellow;	stroke:black; stroke-width:1; fill-opacity:0.7}
.hellenisticGreece 	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.seleucidEmpire 	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.ptolemaicKingdom 	{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.armenia 			{fill:yellow;	stroke:black; stroke-width:1; fill-opacity:0.7}
.parthianEmpire 	{fill:green;	stroke:black; stroke-width:1; fill-opacity:0.7}
.sassanidEmpire 	{fill:brown;	stroke:black; stroke-width:1; fill-opacity:0.7}
.alamanni 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.vandals 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.franks 			{fill:blue;		stroke:black; stroke-width:1; fill-opacity:0.7}
.visigoths 			{fill:black;	stroke:black; stroke-width:1; fill-opacity:0.7}
.ostrogoths 		{fill:black;	stroke:black; stroke-width:1; fill-opacity:0.7}
.huns 				{fill:yellow;	stroke:black; stroke-width:1; fill-opacity:0.7}


/*.romulus1 {fill:red;fill-opacity:0.5}*/
/*.romulus2 {fill:purple;stroke:black;stroke-width:1;fill-opacity:0.2}*/
/*#Romulus {fill-opacity:1.0}*/
